  .swiper {
      margin-bottom: 1rem;
      position: relative;
    }
    .swiper-slide {
        background: #f7f7f7;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .swiper-slide img {
        position: relative;
        object-fit: cover;
    }
    .slide-content{
        display: flex;
        position: absolute;
        width: 100%;
    }
    .cover-link {
    position: absolute; inset: 0;
    z-index: 1;
    }
    .swiper-overlay {
        position: absolute;
        width: 100%;
        inset: 0;
        background: var(--overlay-bg, #000);
        opacity: var(--overlay, .35);
    }
    .swiper-dark {
        --overlay-bg: #000;
        ---overlay: .45;
        color: #fff;
    }
    .swiper-light {
        ---overlay-bg: #fff;
        ---overlay: .25;
        color: #111;
    }

    /* HEIGHT MODIFIERS */
    .swiper-h-auto   { height: auto; }
    .swiper-h-short  { height: 30vh; }
    .swiper-h-medium { height: 50vh; }
    .swiper-h-tall   { height: 70vh; }
    .swiper-h-full   { height: 100vh; }

    @media (max-width: 640px) {
    /* Responsive tweaks */
    .swiper-h-short  { height: 40vh; }
    .swiper-h-medium { height: 60vh; }
    .swiper-h-tall   { height: 80vh; }
    }

.swiper-button-container{
    position: absolute;
    bottom: 8%;
    right: 2rem;
    display: flex;
    gap: 1rem;
    width: 120px;
}

.swiper-button-prev, .swiper-button-next{
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}
